<div id="top"></div>
<app-header></app-header>
<div class="back">
    <div class="container">
        <div *ngIf="!terminado">      
            <div class="row">
                <div class="col-1"> 
                    <img src="../../../../assets/img/preguntas/{{actual+1}}.png" class="numimagen" width="100%" alt="">
                </div>
                <div class="col-11">
                        <h2 class="finanzas">  {{ preguntas[actual]?.pregunta }}</h2>
                </div>
            </div>  

            <div class="row">
                <div class="container-respuestas">   
                    <div *ngFor="let res of preguntas[actual]?.respuestas; let i = index">
                        <div class="container-imagen text-center" (click)="seleccionarRespuesta(actual, res, res.imagen, i)">
                            <div class="respuesta-descripcion">
                                <p> {{res.respuesta}}</p>
                            </div>
                             <div class="img-respuesta">
                                <input type="text" hidden id="valueSelect{{i}}" value="{{valor}}">
                                <img id="imgselected{{i}}" class="imagen" src="../../../../assets/img/respuestas/{{res.imagen}}" alt=""> 
                             </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>


        <div class="row" *ngIf="showBtnConsejo">
            <div class="col text-center" style="padding: 20px;">
                <button (click)="verConsejo()" class="btn continuar">Continuar</button>
            </div>
        </div>
        
        <app-consejos consejo="{{consejo}}" img="{{imgselected}}" *ngIf="show" (terminado)="validcionpre($event)" (actual)="validcionpre($event)"></app-consejos>


        <!-- <div class="row" *ngIf="show">
            <div class="col text-center">
                <button class="btn siguiente" (click)="sigPregunta()"><img src="../../../../assets/img/arrow_drop_down_circle.png" alt="">Siguiente</button>
            </div>
        </div> -->

    </div>
</div>

<app-footer></app-footer>