.back{
  width: 100%;
  min-height: 15em;
  background: url(../../../../assets/img/inicio/back-inicio-quiz_finanzas-fuertes-para-mujeres.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  background-blend-mode: multiply;
  color: white;
}

.mujeres{
    margin-top: 50px;
}

.finanzas{
    color: #fff;
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 66px;
    line-height: 113%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 40px auto;
}

.intro{
    color: #fff;
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.invitamos{
    color: #fff;
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.inicio{
    background: #53375B;
    color: #fff;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding: 20px 75px;
}

@media(max-width: 992px) {
  .mujeres{
    width: 220px;
     margin-top: 0px;
  }

  .finanzas{
    color: #fff;
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 113%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 40px auto;
    }

    .intro{
        color: #fff;
        font-family: poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
    }

    .invitamos{
        color: #fff;
        font-family: poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
    }

    .inicio{
        background: #53375B;
        color: #fff;
        border-radius: 50px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        padding: 10px 40px;
    }
    
}

@media(max-width: 768px) {
  .mujeres{
    width: 220px;
     margin-top: 0px;
  }

  .finanzas{
    color: #fff;
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 113%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 40px auto;
    }

    .intro{
        color: #fff;
        font-family: poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
    }

    .invitamos{
        color: #fff;
        font-family: poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
    }

    .inicio{
        background: #53375B;
        color: #fff;
        border-radius: 50px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        padding: 10px 40px;
    }
}