<app-header></app-header>
<div class="back">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="finanzas">FINANZAS FUERTES PARA MUJERES</h2>
                
                <h2 class="intro">INTRODUCCIÓN</h2>
                
                <p class="invitamos">Cada vez más, las mujeres somos dueñas de nuestro propio dinero, trabajamos muy duro para ganarlo y podemos acceder a diferentes opciones para utilizarlo. Es muy importante que, así como tenemos acceso a más opciones para gastarlo, también contemos con acceso a información que apoye nuestra toma de decisiones. 
                </p>
                
                <p>Organizar y mejorar nuestras finanzas nos ayuda a sacar el máximo provecho a nuestro dinero y nos da acceso a una vida con menos presiones, estrés y preocupaciones.</p>
                
                <p> Por todo ello, el MIDE, en colaboración con Bloomberg, diseñó este quiz para ayudarte a conocer cómo es tú relación con el dinero e identificar áreas de oportunidad que te permitan hacer un manejo eficiente de tus finanzas. 
                Te invitamos a responderlo.</p>
  
                <a [routerLink]="['/preguntas']" class="btn inicio">INICIAR QUIZ</a>
            </div>
            <div class="col-md-4">
                <img src="../assets/img/inicio/img-inicio-quiz_finanzas-fuertes-para-mujeres.jpg" width="100%" class="img" alt="">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>