<footer>
    <div class="container">
        <div class="footer-container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                	<h1 class="footer-title">Síguenos</h1>
                    <div class="footer-item">
                        <p class="footer-address">
                            Tu museo a un clic de distancia.
                        </p>
                        <div class="footer-item">
                            <div class="row">
                                <div class="col-12">
                                    <a href="https://www.facebook.com/museomide/" target="_blank" class="redes-link"><img src="assets/img/fb-icon.png"
                                            class="img-redes-fb" alt="Icon Redes Sociales"></a>
                                    <a href="https://twitter.com/MuseoMIDE"  target="_blank" class="redes-link"><img src="assets/img/tw-icon.png"
                                            class="img-redes" alt="Icon Redes Sociales"></a>
                                    <a href="https://www.youtube.com/channel/UCA7v2-GvedgsXUujG-XB77w"  target="_blank" class="redes-link"><img src="assets/img/yt-icon.png"
                                            class="img-redes" alt="Icon Redes Sociales"></a>
                                    <a href="https://www.instagram.com/museomide/"  target="_blank" class="redes-link"><img src="assets/img/insta-icon.png"
                                                class="img-redes" alt="Icon Redes Sociales"></a>
                                    <a href="https://www.linkedin.com/company/museo-mide/" target="_blank" class="redes-link"><img src="assets/img/linkedin.png"
                                                    class="img-redes" alt="Icon Redes Sociales"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-item">
                       
                    </div>

                </div>
                
                <div class="col-sm-12 col-md-6">
                    <div class="footer-content">
                        <div class="footer-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="https://midedigital.museum/comunidad-mide/" class="footer-link">Comunidad MIDE</a>
                                </div>
                                <div class="col-md-6">
                                	<a href="https://www.mide.org.mx/aprende-mas/" target="_blank" class="footer-link">Oferta Educatica</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="https://midedigital.museum/mide-movil/" class="footer-link">MIDE Movil</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="https://midedigital.museum/eventos/" class="footer-link">Eventos</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="https://midedigital.museum/patrocinadores-aliados/" class="footer-link">Patrocinadores y Aliados</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="https://midedigital.museum/creative-commons-contenido/" class="footer-link">¿Quieres usar nuestro contenido?</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="https://midedigital.museum/terminos-y-condiciones/" class="footer-link">Terminos y condiciones</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="https://midedigital.museum/aviso-de-privacidad/" class="footer-link">Aviso de privacidas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-12">
                    <p class="copyright">© COPYRIGHT 2006-2021. FIDEICOMISO DEL ESPACIO CULTURAL Y EDUCATIVO BETLEMITAS.</p>
                </div>
            </div>
        </div>
    </div>
</footer>