<footer>
    <div class="container">
        <div class="footer-container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                	<h1 class="footer-title">Siguenos</h1>
                    <div class="footer-item">
                        <p class="footer-address">
                            Tu museo a un clic de distancia
                        </p>
                    </div>
                    <div class="footer-item">
                       
                    </div>

                </div>
                <div class="line"></div>
                <hr>
                <div class="col-sm-12 col-md-4">
                    <div class="footer-content">
                        <div class="footer-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="" class="footer-link">Comunidad MIDE</a>
                                </div>
                                <div class="col-md-6">
                                	<a href="" class="footer-link">Oferta Educatica</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="" class="footer-link">MIDE Movil</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="" class="footer-link">Eventos</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="" class="footer-link">Patrocinadores y Aliados</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="" class="footer-link">Quieres usar nuestro contenido</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="" class="footer-link">Terminos y condiciones</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="" class="footer-link">Aviso de privacidas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line2"></div>
                <hr>
                <div class="col-sm-12 col-md-3">
                    
                </div>
                <div class="col-12">
                    <p class="copyright">© DERECHOS RESERVADOS</p>
                </div>
            </div>
        </div>
    </div>
</footer>