<app-header></app-header>
<div class="back">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="felicitaciones">{{felicitaciones}}</h2>
                
                <h2 class="intro">{{intro}}</h2>
                
                <p class="invitamos">{{parrafo}}</p>

                <p class="bloomberg">{{bloomberg}}</p>
                
                <br>

                <!-- <a [routerLink]="['/inicio']" class="btn repetir">REPETIR QUIZ</a>
                <a [routerLink]="['/preguntas']" class="btn compartir">COMPARTIR QUIZ</a> -->
                
            </div>
            <div class="col-md-4 text-center">
                <img src="../assets/img/inicio/img-inicio-quiz_finanzas-fuertes-para-mujeres.jpg" width="100%" class="img woman" alt="">
            </div>
        </div>
        <div>
                <a [routerLink]="['/inicio']" (click)="repetir()" class="btn repetir">REPETIR QUIZ</a>
                <a [routerLink]="['/inicio']" class="btn compartir">COMPARTIR QUIZ</a>
        </div>
    </div>
</div>
<app-footer></app-footer>