.back{
    width: 100%;
    min-height: 15em;
    background: url(../../../../assets/img/inicio/back-inicio-quiz_finanzas-fuertes-para-mujeres.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    background-blend-mode: multiply;
    color: black;
  }
  
  .felicitaciones{
      color: #fff;
      font-family: poppins;
      font-style: normal;
      font-weight: 900;
      font-size: 66px;
      line-height: 113%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      margin: 40px auto;
  }
  
  .intro{
    color: #fff;
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
   }
  
  .invitamos{
    color: #fff;
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  }

  .bloomberg{
    color: #fff;
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  }
  
  .repetir{
      background: #53375B;
      color: #fff;
      border-radius: 50px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      margin-right: 50px;
      padding: 20px 75px;
  }

  .compartir{
    color: #fff;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    filter: drop-shadow(2px 2px 50px rgba(0, 0, 0, 0.2));
    border: 1px solid #ffffff;
    padding: 20px 75px;
  }

  .container-botones{
    display: flex;
    flex-wrap: wrap;
  }
  
  @media(max-width: 992px) {
      .woman{
        width: 100%;
      }

      .felicitaciones{
        color: #fff;
        font-family: poppins;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 113%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin: 40px auto;
    }
    .intro{
      color: #fff;
      font-family: poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
     }
    
    .invitamos{
      color: #fff;
      font-family: poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
    }

    .bloomberg{
      color: #fff;
      font-family: poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
    }

    .repetir{
      background: #53375B;
      color: #fff;
      border-radius: 50px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      margin-right: 50px;
      padding: 20px 30px;
  }

  .compartir{
    color: #fff;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    filter: drop-shadow(2px 2px 50px rgba(0, 0, 0, 0.2));
    border: 1px solid #ffffff;
    padding: 20px 30px;
  }

  }
  @media(max-width: 768px) {
    .woman{
      width: 100%;
    }
      
    .felicitaciones{
        color: #fff;
        font-family: poppins;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 113%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin: 40px auto;
    }

    .intro{
      color: #fff;
      font-family: poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
    }
    
    .invitamos{
      color: #fff;
      font-family: poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
    }
    .bloomberg{
      color: #fff;
      font-family: poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
    }

    .repetir{
      background: #53375B;
      color: #fff;
      border-radius: 50px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      margin-right: 50px;
      padding: 20px 20px;
  }

  .compartir{
    color: #fff;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    filter: drop-shadow(2px 2px 50px rgba(0, 0, 0, 0.2));
    border: 1px solid #ffffff;
    padding: 20px 20px;
  }

  }